<!-- modal activating settings -->
<!-- data-bs-toggle="modal" data-bs-target="#addNotice" -->

<!-- add notice -->
<div class="modal fade modal-auto-clear" id="addNotice" tabindex="-1" aria-labelledby="addNoticeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="addNoticeLabel">ADD NOTICE</h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addNotification()">
          <div class="col-12" *ngIf="role!='admin'">
            <label for="noticeadusername" class="form-label">Admin Username</label>
            <input type="text" class="form-control rounded-pill rounded-pill" id="noticeadusername" placeholder="Enter Username here"
              [(ngModel)]="admin.adusername">
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="noticeadpassword" class="form-label">Admin Password</label>
            <input type="password" class="form-control rounded-pill rounded-pill" id="noticeadpassword" placeholder="Enter Password here"
            [(ngModel)]="admin.adpassword">
          </div>
          <div class="col-12">
            <label for="noticeheading" class="form-label">Notice Heading</label>
            <input type="text" class="form-control rounded-pill rounded-pill" id="noticeheading" placeholder="Enter Notice Heading here"
            [(ngModel)]="notification.heading">
          </div>
          <div class="col-12">
            <label for="noticedescription" class="form-label">Notice Description</label>
            <input type="text" class="form-control rounded-pill rounded-pill" id="noticedescription" placeholder="Enter Notice Description here"
            [(ngModel)]="notification.description">
          </div>
          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-info rounded-pill text-light text-center px-5" data-bs-dismiss="modal">Add Notice</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- onGetAlumnisAdmin -->
<div class="modal fade modal-auto-clear" id="onGetAlumnisAdmin" tabindex="-1" aria-labelledby="onGetAlumnisAdminLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="onGetAlumnisAdminLabel">ADMIN LOGIN</h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onGetAlumnisAdmin()">
          <div class="col-12" *ngIf="role == 'admin'">
            You're already logged in as an admin.
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adusername" class="form-label">Admin Username</label>
            <input type="text" class="form-control rounded-pill rounded-pill" id="adusername" placeholder="Enter Username here"
              [(ngModel)]="admin.adusername">
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adpassword" class="form-label">Admin Password</label>
            <input type="password" class="form-control rounded-pill rounded-pill" id="adpassword" placeholder="Enter Password here"
            [(ngModel)]="admin.adpassword">
          </div>
          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-info rounded-pill text-light text-center px-5" data-bs-dismiss="modal">Get Alumnis</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- onGetDepartments -->
<div class="modal fade modal-auto-clear" data-bs-timer="1000" id="onGetDepartments" tabindex="-1" aria-labelledby="onGetDepartmentsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="onGetDepartmentsLabel">ADMIN LOGIN</h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onGetDepartments()">
          <div class="col-12" *ngIf="role == 'admin'">
            You're already logged in as an admin.
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adusername" class="form-label">Admin Username</label>
            <input type="text" class="form-control rounded-pill" id="adusernameDepts" placeholder="Enter Username Here"
              [(ngModel)]="admin.adusername">
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adpassword" class="form-label">Admin Password</label>
            <input type="password" class="form-control rounded-pill" id="adpasswordDepts" placeholder="Enter Password Here"
            [(ngModel)]="admin.adpassword">
          </div>
          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-info rounded-pill text-light text-center px-5" data-bs-dismiss="modal">Get Departments</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal" ><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- onDeleteAdmin -->
<div class="modal fade modal-auto-clear" data-bs-timer="1000" id="onDeleteAdmin" tabindex="-1" aria-labelledby="onDeleteAdminLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="onDeleteAdminLabel">DEACTIVATE ADMIN ACCOUNT</h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onDeleteAdmin(admin.adusername)">
          <div class="col-12" *ngIf="role == 'admin'">
            You're already logged in as an admin.
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adusername" class="form-label">Admin Username</label>
            <input type="text" class="form-control rounded-pill" id="adusernameDeleteAdmin" placeholder="Enter Username Here"
              [(ngModel)]="admin.adusername">
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adpassword" class="form-label">Admin Password</label>
            <input type="password" class="form-control rounded-pill" id="adpasswordDeleteAdmin" placeholder="Enter Password Here"
            [(ngModel)]="admin.adpassword">
          </div>
          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-danger rounded-pill text-center px-5" data-bs-dismiss="modal"><i class="bi bi-trash-fill me-2"></i>Deactivate</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- onGetAlumnis -->
<div class="modal fade modal-auto-clear" id="onGetAlumnis" tabindex="-1" aria-labelledby="onGetAlumnisLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="onGetAlumnisLabel">ADMIN LOGIN</h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onGetAlumnis()">
          <div class="col-12" *ngIf="role == 'alumni'">
            You're already logged in as an alumni. <br>
          </div>
          <div class="col-12" *ngIf="role!='alumni'">
            <label class="form-label">Alumni Roll Number</label>
            <input type="text" class="form-control rounded-pill rounded-pill" placeholder="Enter roll no. here"
              [(ngModel)]="alumni.alroll">
          </div>
          <div class="col-12" *ngIf="role!='alumni'">
            <label class="form-label">Alumni Password</label>
            <input type="password" class="form-control rounded-pill rounded-pill" placeholder="Enter Password here"
            [(ngModel)]="alumni.alpassword">
          </div>
          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-info rounded-pill text-light text-center px-5" data-bs-dismiss="modal">Get Alumnis</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- getAlumniByRoll -->
<div class="modal fade modal-auto-clear" data-bs-timer="1000" id="getAlumniByRoll" tabindex="-1" aria-labelledby="getAlumniByRoll" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="getAlumniByRollLabel">GET ALUMNI DETAILS </h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="getAlumniByRoll(alumni.alroll)">
          <div class="col-12" *ngIf="role == 'alumni'">
            You're already logged in as an alumni. <br>
          </div>

          <div class="col-12" *ngIf="role!='alumni'">
            <label class="form-label">Alumni Roll number</label>
            <input type="text" class="form-control rounded-pill" placeholder="Enter Roll no. Here"
              [(ngModel)]="alumni.alroll">
          </div>
          <div class="col-12" *ngIf="role!='alumni'">
            <label class="form-label">Alumni Password</label>
            <input type="password" class="form-control rounded-pill" placeholder="Enter Password Here"
            [(ngModel)]="alumni.alpassword">
          </div>

          <div class="col-12">
            <label for="almGetAlroll" class="form-label">Alumni Roll Number</label>
            <input type="text" class="form-control rounded-pill" id="almGetAlroll" placeholder="Enter Roll Number Here"
              [(ngModel)]="alumni.alroll">
          </div>

          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-info rounded-pill text-center px-5" data-bs-dismiss="modal"><i class="bi bi-search me-2"></i>Get Alumni</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- getAlmListDname -->
<div class="modal fade modal-auto-clear" data-bs-timer="1000" id="getAlmListDname" tabindex="-1" aria-labelledby="getAlmListDname" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="getAlmListDnameLabel">GET ALUMNI DETAILS By DEPARTMETN NAME</h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="getAlmByDname(alumni.department.dname)">
          <div class="col-12">
            <label for="getAlmListDname" class="form-label">Alumni's Department name</label>
            <input type="text" class="form-control rounded-pill" id="getAlmListDname" placeholder="Enter Department Name Here"
              [(ngModel)]="alumni.department.dname">
          </div>

          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-info rounded-pill text-center px-5" data-bs-dismiss="modal"><i class="bi bi-search me-2"></i>Get Alumni List</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- getAlumniByRoll4Admin -->
<div class="modal fade modal-auto-clear" data-bs-timer="1000" id="getAlumniByRoll4Admin" tabindex="-1" aria-labelledby="getAlumniByRoll4Admin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="getAlumniByRoll4AdminLabel"><i class="bi bi-search me-2"></i>GET ALUMNI DETAILS </h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="getAlumniByRoll4Admin(alumni.alroll)">
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adusername" class="form-label">Admin Username</label>
            <input type="text" class="form-control rounded-pill" id="adusernameGetAlumni" placeholder="Enter Username Here"
              [(ngModel)]="admin.adusername">
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adpassword" class="form-label">Admin Password</label>
            <input type="password" class="form-control rounded-pill" id="adpasswordGetAlumni" placeholder="Enter Password Here"
            [(ngModel)]="admin.adpassword">
          </div>
          <div class="col-12">
            <label for="getAlumniByRoll4Admin" class="form-label">Alumni Roll Number</label>
            <input type="text" class="form-control rounded-pill" id="getAlumniByRoll4Admin" placeholder="Enter Roll Number Here"
              [(ngModel)]="alumni.alroll">
          </div>

          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-info text-white rounded-pill text-center px-5" data-bs-dismiss="modal"><i class="bi bi-search me-2"></i>Get Alumni</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- updateAlumniByRoll4Admin -->
<div class="modal fade modal-auto-clear" data-bs-timer="1000" id="updateAlumniByRoll4Admin" tabindex="-1" aria-labelledby="updateAlumniByRoll4Admin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="updateAlumniByRoll4AdminLabel">UPDATE ALUMNI </h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="updateAlumniByRoll4Admin(alumni.alroll)">
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adusername" class="form-label">Admin Username</label>
            <input type="text" class="form-control rounded-pill" id="adusernameUpdateAlumni" placeholder="Enter Username Here"
              [(ngModel)]="admin.adusername">
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adpassword" class="form-label">Admin Password</label>
            <input type="password" class="form-control rounded-pill" id="adpasswordUpdateAlumni" placeholder="Enter Password Here"
            [(ngModel)]="admin.adpassword">
          </div>
          <div class="col-12">
            <label for="updateAlumniByRoll4Admin" class="form-label">Alumni Roll Number</label>
            <input type="text" class="form-control rounded-pill" id="updateAlumniByRoll4Admin" placeholder="Enter Roll Number Here"
              [(ngModel)]="alumni.alroll">
          </div>

          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-warning text-white rounded-pill text-center px-5" data-bs-dismiss="modal"><i class="bi bi-pencil-fill me-2"></i>Update Alumni</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- deleteAlumniByRoll4Admin -->
<div class="modal fade modal-auto-clear" data-bs-timer="1000" id="deleteAlumniByRoll4Admin" tabindex="-1" aria-labelledby="deleteAlumniByRoll4Admin" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h1 class="modal-title fs-5 font-monospace" id="deleteAlumniByRoll4AdminLabel">DELETE ALUMNI </h1>
        <button type="button" class="btn-close btn-close-danger" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="deleteAlumniByRoll4Admin(alumni.alroll)">
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adusername" class="form-label">Admin Username</label>
            <input type="text" class="form-control rounded-pill" id="adusernameDeleteAlumni" placeholder="Enter Username Here"
              [(ngModel)]="admin.adusername">
          </div>
          <div class="col-12" *ngIf="role!='admin'">
            <label for="adpassword" class="form-label">Admin Password</label>
            <input type="password" class="form-control rounded-pill" id="adpasswordDeleteAlumni" placeholder="Enter Password Here"
            [(ngModel)]="admin.adpassword">
          </div>
          <div class="col-12">
            <label for="deleteAlumniByRoll4Admin" class="form-label">Alumni Roll Number</label>
            <input type="text" class="form-control rounded-pill" id="deleteAlumniByRoll4Admin" placeholder="Enter Roll Number Here"
              [(ngModel)]="alumni.alroll">
          </div>

          <div class="modal-footer mt-3 justify-content-center">
            <button type="submit" class="btn btn-danger rounded-pill text-center px-5" data-bs-dismiss="modal"><i class="bi bi-trash-fill me-2"></i>Delete Alumni</button>
            <button type="button" class="btn btn-secondary rounded-pill px-5" data-bs-dismiss="modal"><i class="bi bi-x-circle me-2"></i>Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>