.container{
    margin-top: 80px;
    margin-bottom: 80px;
}

/* bg image configurations */
.bg-img{
    position: fixed;
    z-index: -1;
    width: 100%;
}
.bg-img img{
    width: 100vw;
}

.btn-action {
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-radius: 10px;
}

.btn-action:hover {
    border: none;
    box-shadow: 5px 5px 10px 5px rgba(105, 105, 105, 0.199);
    transform: scale(1.1);
}
.btn-action:active {
    outline: none;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
    border-radius: 10px;
    border: 1px solid white;
    transform: scale(1);
}

/* for the bg-grad animation */
@keyframes gradient {
    0%     {background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(50, 247, 214));}
    10%    {background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgba(50, 247, 214, 0.644), rgb(73, 112, 240, 0.5));}
    20%    {background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(50, 247, 214, 0.644), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5));}
    30%    {background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(50, 247, 214, 0.644), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5));}
    40%    {background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(50, 247, 214, 0.644) , rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5));}
    50%    {background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(50, 247, 214, 0.644), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5));}
    60%    {background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(50, 247, 214, 0.644), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5));}
    70%    {background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(50, 247, 214, 0.644), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5));}
    80%    {background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(50, 247, 214, 0.644), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5));}
    90%    {background-image: linear-gradient(to right, rgb(50, 247, 214, 0.644), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5));}
    100%   {background-image: linear-gradient(to bottom left, rgb(73, 112, 240, 0.5, 0.5), rgb(73, 112, 240, 0.5, 0.5), rgb(50, 247, 214));}
}

.forum{
    background-image: linear-gradient(to right, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(50, 247, 214));
    transition-duration: 500ms;
    color: rgb(245, 245, 245);
}

.forum:hover{
    transform: scale(1.03);
    background-image: linear-gradient(to bottom left, rgb(73, 112, 240, 0.5), rgb(73, 112, 240, 0.5), rgb(50, 247, 214));
    animation: gradient 300ms ease-in-out forwards;
}
