<!-- bg image -->
<div class="bg-img"><img src="../../../assets/img/stacked-waves-haikei.svg"></div>
<div class="container create-admin-container bg-dark text-white rounded-top py-3">
    <!-- alert message div -->
    <div *ngIf="isAlert" class="alert alert-{{alert.type}} alert-dismissible fade show text-center py-auto fixed-top"
        data-auto-dismiss="2000" role="alert">
        <p class="font-monospace"><strong class="fs-5 me-4">{{alert.head}} :</strong>{{alert.message}}</p>
        <button (click)="closeAlert()" type="button" class="btn-close py-2 px-2 rounded-pill my-3 mx-3"
            data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="font-monospace col-12">
        <h2 class="font-monospace text-center text-muted fw-bolder display-5">CREATE ADMIN ACCOUNT</h2>
        <div class="underline border border-5 border-bottom border-info w-50 mx-auto"></div>
        <div class="underline border border-2 border-bottom border-info"></div>
    </div>

    <form (ngSubmit)="onSubmit()">

        <div class="row mb-3 form-group my-3 col-10 mx-auto">
            <label for="admName" class="col-sm-2 col-form-label"><i class="bi bi-person-bounding-box mx-2"></i>
                Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control font-monospace rounded-pill"
                    [(ngModel)]="admin.adname" name="adname" placeholder="Enter Admin Name Here">
            </div>
        </div>

        <div class="row mb-3 form-group my-3 col-10 mx-auto">
            <label for="admUsername" class="col-sm-2 col-form-label"><i class="bi bi-person-check-fill mx-2"></i>
                Username</label>
            <div class="col-sm-10">
                <input type="text" class="form-control font-monospace rounded-pill"
                    [(ngModel)]="admin.adusername" name="adusername" placeholder="Enter Admin Username Here">
            </div>
        </div>

        <div class="row mb-3 form-group my-3 col-10 mx-auto">
            <label for="admPassword" class="col-sm-2 col-form-label"><i class="bi bi-person-fill-lock mx-2"></i>
                Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control font-monospace rounded-pill"
                    name="adpassword" [(ngModel)]="admin.adpassword" placeholder="Enter Admin Password Here">
            </div>
        </div>

        <div class="row mb-3 form-group my-3 col-10 mx-auto">
            <label for="admEmail" class="col-sm-2 col-form-label"><i class="bi bi-person-vcard-fill mx-2"></i>
                Email-Id</label>
            <div class="col-sm-10">
                <input type="email" class="form-control font-monospace rounded-pill" name="ademail"
                    [(ngModel)]="admin.ademail" placeholder="Enter Admin Email Here">
            </div>
        </div>

        <div class="d-grid col-6 mx-auto mt-5">
            <button type="submit" class="btn btn-success rounded-pill"><i class="bi bi-person-plus-fill me-2"></i>Add
                Admin</button>
        </div>

    </form>
</div>

<!-- waves -->
<div class="container px-0 my-0 mb-5">
    <div class="row mb-5">
        <div class="waves col-12"><img src="../../../../../assets/img/wavesOpacity.svg"></div>
    </div>
</div>