<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand py-auto" routerLink="homepage"> <i class="bi bi-mortarboard-fill text-info h3" id="cap"></i> <span
        class="text-info h4">D-Tech</span><span class="h5">AlumniManagementSystem</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">

        <li class="nav-item me-1">
          <a class="nav-link active" routerLink="homepage" routerLinkActive="active"><i
              class="bi bi-house-fill me-1"></i>Home</a>
        </li>

        <li class="nav-item dropdown me-1">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Alumni Interest
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="">Upskillment</a></li>
            <li><a class="dropdown-item" routerLink="">Workspace Issues</a></li>
            <li><a class="dropdown-item" routerLink="">Career Growth</a></li>

            <!-- <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#almUpdateAlumni">Update Alumni Details</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown me-1">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Alumni
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="/alumni/create-alumni">Add Alumni</a></li>
            <li><a class="dropdown-item" routerLink="alumni/alm-get-alumnis">Get Alumnis List
              </a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#getAlumniByRoll">Get Alumni by Roll
                no.</a></li>
            <!-- <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#almUpdateAlumni">Update Alumni Details</a></li> -->
          </ul>
        </li>

        <li class="nav-item dropdown me-1">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            D-Tech Zone Department
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="department/create-department">Add Department</a></li>
            <li><a class="dropdown-item" routerLink="alumni/alm-get-alumnis">Get Alumni list</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#getAlumniByRoll">Get Alumni by Roll
                no.</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#getAlmListDname">Get Alumni by Dept.
                name</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown me-1">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="admin/create-admin">Add Admin</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#onGetAlumnis">Get Alumni List</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#onGetDepartments">Get Department
                list</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#getAlumniByRoll4Admin">Get Alumni By
                Roll no.</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#updateAlumniByRoll4Admin">Update
                Alumni</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deleteAlumniByRoll4Admin">Delete
                Alumni</a></li>
            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#onDeleteAdmin">Deactivate Admin</a>
            </li>
            <li><a class="dropdown-item">Add Notice</a>
            </li>
          </ul>
        </li>

        <li class="nav-item me-1" routerLink="discussionforum" routerLinkActive="active">
          <a class="nav-link" >Discussion Forum</a>
        </li>

        <li class="nav-item dropdown me-1">
          <a class="nav-link my-auto dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Notifications <span class="badge bg-danger rounded-pill fs-7 px-1 py-1 my-auto">new</span></a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" routerLink="">Notification 1</a></li>
            <li><a class="dropdown-item" routerLink="">Notification 2</a></li>
            <li><a class="dropdown-item" routerLink="">Notification 3</a></li>
            <li><a class="dropdown-item" routerLink="">Notification 4</a></li>
            <li><a class="dropdown-item" routerLink="">Notification 5</a></li>
            <li><a class="dropdown-item" routerLink="">Notification 6</a></li>
          </ul>
        </li>

      </ul>

    </div>
  </div>
</nav>
<!-- <app-homepage (alertHomeEmit)="alertHomeEmit($event)"></app-homepage> -->
<app-modals (alertEmit)="alertEmit($event)"></app-modals>
<!-- alert message div -->
<div *ngIf="isAlert" class="alert alert-{{alert.type}} alert-dismissible fade show text-center py-auto fixed-top"
  data-auto-dismiss="2000" role="alert">
  <p class="font-monospace"><strong class="fs-5 me-4">{{alert.head}} :</strong>{{alert.message}}</p>
  <button (click)="closeAlert()" type="button" class="btn-close py-2 px-2 rounded-pill my-3 mx-3"
    data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container-fluid main-body p-0">
  <router-outlet></router-outlet>
</div>

<!-- footer -->
<footer class="footer bottom-0">
  <div class="container copyright">
    <span> Copyright © 2022, <a routerLink="homepage"
        class="font-monospace link-info text-decoration-none">www.anudip.org</a> - All rights reserved.</span>
  </div>

  <div class="container-fluid designedBy my-auto">
    <span class="my-auto designedBy-span">Designed by- <span class="text-info">Akash Singh</span></span>
  </div>
</footer>